# python=3.11

langchain
langchain_community
langchain-openai
langchain-huggingface
jupyter
openai==1.61.0
torch
sentence-transformers
SQLAlchemy

# serpapi
google-search-results

# crawling
trafilatura
beautifulsoup4
playwright

# DB
mysqlclient==2.2.7


